@page "/viewimages"
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@using BlazorApp.Shared.Models

<h3>View Images</h3>
@foreach(var image in imageList)
{
	<img src="@image.Base64String" style="width: 300px; height: 300px;" />
}

@code {
	protected List<Image> imageList = new();

	protected override async Task OnInitializedAsync()
	{
		await GetImages();
	}

	protected async Task GetImages()
	{
		imageList = await HttpClient.GetFromJsonAsync<List<Image>>("https://localhost:7293/images");
	}
}
